/* Reset styles */
body {
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Layout */
.trip-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slide {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}

.slide .trip-list {
  flex-basis: 20%;
  border-right: 1px solid #ccc;
  padding-right: 1rem;
  margin-right: 1rem;
}

.slide img {
  max-width: 80%;
  height: auto;
}

.slide + .slide {
  margin-top: 2rem; /* Add spacing between the slides */
  margin-left: 20%; /* Adjust the value as per your preference */
}

#play-audio-btn {
  display: block;
  margin: 1rem auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #128ada;
  border: none;
  outline: none;
  cursor: pointer;
}

a[href="javascript:history.back()"] {
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
}

/* Header and Footer */
header,
footer {
  background-color: #0d98e8;
  padding: 1rem;
  text-align: center;
}